.o-button{
    position: relative;
    display: block;
    cursor: pointer;
    padding: .9em 1.2em .8em 1.2em;
    border: none;
    font-family: 'Rockwell', sans-serif;
    font-weight: 600;

    background: rgba(255, 255, 255, 1);
    font-size: .9em;
}
